body {
    padding:15px;
}

#gridContainerDiv {
    margin:15px 0px 25px;

    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1px;
    border-color: rgb(213, 211, 211);
    border-width: 1px ;
    border-style: dotted;
}

.gridRow {
    border-color: blue;
    min-height: 5px;

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;
    gap: 1px;

}

.gridCell {
    border-color: grey;
    border-width: 3px;
    min-width: 5px;
    min-height: 5px;
    aspect-ratio: 1;

    flex-grow: 1;
}

#instructionsP {
    font-size: 14px;
    margin-bottom: 30px;
}

#gridSizeSelectorDiv {
    font-size: 16px;
    margin: ;
}

#selectorsContainerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}